.auth-page {
    display: flex;
    flex-direction: column;
    height: 100%;

    .auth-page__title {
        margin: 0
    }

    .auth-page__auth-box {
        margin: auto;
        width: min(370px, 100%);
    }

    .auth-page__theme-switcher {
        margin-top: auto;
    }

    .auth-page__sub-txt {
        text-align: center;
        font-size: .85rem;
    }
}
