.app-field {
    display: flex;
    flex-direction: column;
    gap: .25rem;

    & .app-field__label {
        font-size: 0.875rem;
    }

    & .app-field__input {
        width: 100%;
        padding: 0 8px;
        height: 40px;
        border-width: 2px;
        border-style: solid;
        border-color: transparent;
        border-radius: var(--border-radius);
        outline-color: var(--outline-inactive);
        outline-width: 1px;
        outline-style: solid;
        background-color: var(--input-bg);
        transition: .2s;

        &:hover {
            outline-color: var(--app-light-blue);
        }

        &:focus:not(&:user-invalid):not(.app-field__input--invalid) {
            outline-color: transparent;
            border-color: var(--app-blue);
        }

        &:user-invalid {
            outline-color: var(--app-red);
        }

        &:user-invalid:focus {
            border-color: var(--app-red);
            outline-color: transparent;
        }

        &.app-field__input--invalid {
            outline-color: var(--app-red);

            &:focus {
                outline-color: transparent;
                border-color: var(--app-red);
            }
        }
    }

    & .app-field__error-txt {
        color: var(--app-red);
        font-size: .65rem;
    }
}
