.app-btn {
    /* position: relative; */
    /* display: inline-flex; */
    /* justify-content: center; */
    /* align-items: center; */
    /* flex: 0 0 auto; */
    /* default */
    /* height: 40px; */
    /* min-width: 64px; */
    /* padding: 0 16px; */
    /* font-weight: 500; */
    /* font-size: 0.875rem; */
    /* border-radius: var(--border-radius); */
    /* background: none; */
    /* cursor: pointer; */
    /* overflow: hidden; */
    /* outline: 0; */
    /* border-width: 0; */
    /* transition: all .2s ease; */

    /* &:active { */
        /* transform: scale(0.98); */
    /* } */

    &::before {
        content: "";
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        background-color: currentColor;
        border-radius: inherit;
        color: inherit;
        left: 0;
        pointer-events: none;
    }

    &::before {
        opacity: 0;
        transition: opacity 0.2s ease;
    }

    &:hover::before {
        opacity: 0.08;
    }

    &.app-btn--primary {
        background-color: var(--app-blue);
        color: var(--app-white);
    }

    &.app-btn--secondary {
        background-color: transparent;
        border-width: 2px;
        border-style: solid;
        border-color: var(--app-blue);
        color: var(--app-color);
    }
}
