:root {
    color-scheme: light dark;
    &:has(#dark-theme-radio:checked) {
        color-scheme: dark;
    }
    &:has(#light-theme-radio:checked) {
        color-scheme: light;
    }

    /* colors */
    --app-white: #E9F1F7;
    --app-blue: rgb(34, 116, 255);
    --app-light-blue: color-mix(in srgb, var(--app-blue), white 50%);
    --app-black: #131B23;
    --app-stone: #3a434c;
    --app-black-text: oklch(20.8% 0.042 265.755);
    --app-light-stone: #656E78;
    --app-light-stone-2: #d4dae0;
    --app-light-gray: #c3c4c4;
    --app-red: #E65A0F;
    --app-light-red: #e8a683;
    --app-green: #26C485;
    --app-light-green: #87D5B5;


    --app-bg-light: var(--app-white);
    --app-bg-dark: var(--app-black);
    --app-color-light: var(--app-black-text); 
    --app-color-dark: var(--app-white);
    --border-radius: 8px;
    --outline-inactive: light-dark(var(--app-light-gray),var(--app-light-stone));
    --input-bg: light-dark(var(--app-light-stone-2), var(--app-stone));

    --app-bg: light-dark(var(--app-bg-light), var(--app-bg-dark));
    --app-color: light-dark(var(--app-color-light), var(--app-color-dark));
}

@view-transition {
    navigation: auto;
}

@font-face {
    font-family: 'Inter';
    src: url('/fonts/Inter-VariableFont.ttf') format('truetype');
    font-weight: 100 900;
    font-display: swap;
}

*, 
*::after,
*::before {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    height: 100dvh;
    font-family: Inter, system-ui;
    font-size: 1rem;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--app-color);
    background-color: var(--app-bg);
    overflow: hidden;
}

@media (min-width: 601px) {
  body { font-size: 1.125rem; }
}



main {
    height: 100%;
    padding: 0 32px;
    overflow-x: hidden;
    overflow-y: auto;
}
