:root {
    color-scheme: light dark;
    &:has(#dark-theme-radio:checked) {
        color-scheme: dark;
    }
    &:has(#light-theme-radio:checked) {
        color-scheme: light;
    }

    --app-bg-light: #fff;
    --app-bg-dark: oklch(13% .028 261.692);
    /* --app-bg: light-dark(var(--app-bg-light), var(--app-bg-dark)); */
    --app-bg: light-dark(#fff, oklch(13% .028 261.692));
}

@view-transition {
    navigation: auto;
}

@font-face {
    font-family: 'Inter';
    src: url('/fonts/Inter-VariableFont.ttf') format('truetype');
    font-weight: 100 900;
    font-display: swap;
}

*, 
*::after,
*::before {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100dvh;
    font-family: Inter, system-ui;
    font-size: 1rem;
    line-height: 1.2;
    letter-spacing: 0.03em;
    background-color: var(--app-bg);
}

@media (min-width: 601px) {
  body { font-size: 1.125rem; }
}



main {
    padding: 0 32px;
}
