.stack {
    position: relative;
    width: 100%;
    height: 100%;

    .stack__card {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        border: 2px solid white;
        border-radius: 8px;
        z-index: 3;
        background-color: oklch(27.8% 0.033 256.848);

        &.stack__card--blank {
            border: 1px dashed var(--app-color);
            background-color: transparent;
        }

        &.stack__card--bottom,
        &.stack__card--middle {
            position: absolute;
            inset: 0;
        }

        &.stack__card--middle {
            transform: rotate(var(--middle-rotate, 3deg));
            z-index: 2;
        }

        &.stack__card--bottom {
            transform: rotate(var(--bottom-rotate, 3deg));
            z-index: 1;
        }
    }

    .stack__add-btn {
        /* font-size: ; */
        background-color: transparent;
        border: 0;
        cursor: pointer;
        color: var(--app-color);
    }
}
